name: C Mastery Lab CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile C program
        run: gcc main.c -o main

      - name: Olympix Mutation Test Generator
        uses: olympix/mutation-test-generator@v0.1.0
        with:
          args: --confirm-all

      - name: First interaction
        uses: actions/first-interaction@v1.3.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Hello! Welcome to my C-Mastery-Lab. I am Jarvis, and I'm learning C, Python, and SQL."
          pr-message: "Hola! Thanks for your first Pull Request. I will review it soon!"